#root .btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  padding: 0.3rem 0.8rem;
  letter-spacing: 0.5px;
}
#root .btn-primary,
#root .btn-primary.disabled {
  box-shadow: 0 2px 6px #acb5f6;
  background-color: var(--primary);
  border-color: var(--primary);
}
#root .btn-success,
#root .btn-success.disabled {
  box-shadow: 0 2px 6px #81d694;
  background-color: #47c363;
  border-color: #47c363;
  color: #fff;
}
#root .btn-info,
#root .btn-info.disabled {
  box-shadow: 0 2px 6px #82d3f8;
  background-color: #3abaf4;
  border-color: #3abaf4;
  color: #fff;
}
#root .btn-gradient {
  background: linear-gradient(90deg, #044660 0.18%, #1596b2 100.18%);
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 5px 50px;
  border: transparent;
}
#root .btn-gradient:hover {
  color: white;
}
#root .btn-sosmed {
  width: 100%;
  padding: 5px 0px 3px 0px;
  background-color: white;
  color: black;
  font-weight: bolder;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border-color: transparent;
  font-size: smaller;
}
#root .btn-sosmed:hover {
  background: var(--gradient);
  color: white;
}
#root .btn-sosmed img {
  margin-right: 10px;
}

.main-sidebar {
  width: 400px;
  height: 100vh;
  background-color: white;
}
.main-sidebar .sidebar-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
.main-sidebar .sidebar-brand a {
  font-size: 16px;
  color: black;
}
.main-sidebar .sidebar-menu {
  padding: 10px;
  margin: 0;
  list-style: none;
}
.main-sidebar .sidebar-menu li.active a {
  color: #f8fafb;
  font-weight: 600;
  background: var(--gradient);
  border-radius: 10px;
}
.main-sidebar .sidebar-menu li a {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  width: 100%;
  letter-spacing: 0.3px;
  color: #78828a;
  text-decoration: none;
}
.main-sidebar .sidebar-menu li a span {
  margin-left: 10px;
}

.dashboard {
  display: flex;
  flex-direction: row;
}

.dashboard-nav {
  background-color: var(--gradient);
}
.dashboard-nav nav {
  background: var(--gradient);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.dashboard-nav nav .sidebar-toggler .toggle {
  background-color: transparent;
  outline: none;
  border: 0px;
  color: white;
}

.dashboard-page {
  width: 100%;
  background-color: rgb(243, 244, 255);
}
.dashboard-page .manage-item .headline {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  background-color: white;
  width: 100%;
  margin: -30px auto;
  margin-bottom: 40px;
  border-radius: 10px;
}

.brands,
.category {
  margin-bottom: 30px;
}
.brands .swiper .swiper-slide,
.category .swiper .swiper-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-item-ib {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 0px;
}
.card-item-ib .card-body {
  padding: 0px;
}
.card-item-ib .card-body img {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.card-item-ib .card-footer {
  padding: 10px 20px;
  font-weight: bolder;
  text-align: center;
  background-color: transparent;
}
.card-item-ib .card-footer .progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  position: relative;
}
.card-item-ib .card-footer .progress .progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0d6efd;
  transition: width 0.6s ease;
  width: 100%;
}
.card-item-ib .card-footer .progress .items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.card-item-ib .card-footer .nama-ib {
  color: var(--primary);
  font-size: larger;
}
.card-item-ib .card-footer .progress-ib {
  height: 1.5rem;
}
.card-item-ib .card-footer .progress-ib .bg-info {
  background-color: var(--primary) !important;
}
.card-item-ib .card-footer .progress-num {
  font-size: smaller;
  letter-spacing: 2px;
}
.card-item-ib .card-footer button {
  width: 100%;
  padding: 2px 0px;
  font-size: smaller;
  color: white;
}
.card-item-ib .card-footer .exp-ib {
  text-align: right;
  margin-top: 10px;
  font-size: smaller;
  color: #6c757d;
}
.card-item-ib .card-footer .harga-ib {
  background: var(--gradient);
  position: absolute;
  top: 2%;
  left: 0%;
  color: white;
  padding: 5px 10px;
  border-radius: 0px 10px 10px 0px;
  font-size: smaller;
}

.card-silhouette {
  width: 150px;
  height: 150px;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-silhouette img {
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

:root {
  --gradient: linear-gradient(90deg, rgba(5, 70, 97, 1) 0%, rgba(24, 151, 182, 1) 100%);
  /* --primary: #0f0f50; */
  --primary: #1588a7;
  --secondary: #34395e;
  --success: #47c363;
  --info: #3abaf4;
  --warning: #ffa426;
  --danger: #fc544b;
  --light: #e3eaef;
  --dark: #191d21;
  --gray: #efefef;
}

* {
  text-decoration: none;
}

a {
  text-decoration: none !important;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.read-the-docs {
  color: #888;
}

html * {
  font-family: "K2D", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

#banner,
#wts-item,
#wtb-item,
#all-item,
#separator,
#detail-item,
#suggest-toko,
#suggest-serupa,
#toko-banner,
#filter-page,
#ice-box,
#seller {
  margin: 48px 0px;
}

@media only screen and (max-width: 600px) {
  #banner,
  #wts-item,
  #wtb-item,
  #all-item,
  #separator,
  #detail-item,
  #suggest-toko,
  #suggest-serupa,
  #toko-banner,
  #filter-page,
  #ice-box,
  #seller {
    margin: 36px 0px;
  }
}
.badge-gold {
  color: white;
  background: linear-gradient(90deg, #fcd24b 0%, #a7610b 12.9%, #f3b62b 60.53%, #b67c1b 100%);
}

.badge-primary {
  background-color: var(--primary);
}

.badge-dark {
  background-color: #191d21;
}

.badge-warning {
  background-color: #ffc107;
}

.badge {
  vertical-align: middle;
  padding: 7px 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  border-radius: 30px;
  font-size: 12px;
}

.head-section {
  background: linear-gradient(90.02deg, #04465f 0%, #189bb4 100%);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 24px;
}

#topbar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  z-index: 3;
  width: 100%;
  position: sticky;
  background-color: white;
  top: 0;
}
@media only screen and (max-width: 600px) {
  #topbar .left {
    text-align: center;
  }
}
#topbar .left img {
  width: 75%;
  height: 75px;
  -o-object-fit: contain;
     object-fit: contain;
  text-align: center;
}
#topbar .center {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  #topbar .center {
    display: none;
  }
}
#topbar .center a {
  font-weight: bolder;
  margin-right: 15px;
}
#topbar .center .form-group {
  display: flex;
  width: 100%;
}
#topbar .center .form-group input {
  border: 2px solid rgba(0, 0, 0, 0.2509803922);
  border-right: transparent;
  border-radius: 5px 0px 0px 5px;
}
#topbar .center .form-group .wrapper {
  border: 2px solid rgba(0, 0, 0, 0.2509803922);
  border-left: transparent;
  border-radius: 0px 5px 5px 0px;
  padding: 2px;
}
#topbar .center .form-group .wrapper button {
  padding: 0px 24px;
  border-radius: 2px;
  height: 100%;
  border: transparent;
}
#topbar .right {
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: bolder;
  font-size: smaller;
}
@media only screen and (max-width: 600px) {
  #topbar .right {
    display: none;
  }
}
#topbar .right .wrapper {
  padding: 10px;
  border-radius: 10px;
}
#topbar .right .wrapper img {
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5px;
}
#topbar .right .show:first-child {
  background: linear-gradient(90deg, #044660 0.18%, #1596b2 100.18%);
  color: white;
}
#topbar .right hr {
  margin: 0px;
}
#topbar .right .dropdown-menu {
  padding: 10px 12px;
  border-radius: 10px;
}
#topbar .right .dropdown-menu a:hover {
  color: #1588a7;
}
#topbar .right .dropdown-menu .profile-menu {
  margin: 10px 0px;
  font-weight: bolder;
  padding: 5px 10px;
  border-radius: 10px;
}
#topbar .right .dropdown-menu i {
  margin-right: 7px;
}

#bottombar {
  z-index: 2;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
}
@media only screen and (min-width: 600px) {
  #bottombar {
    display: none;
  }
}
#bottombar ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  list-style: none;
  padding: 5px 0px;
  margin: 0px;
}
#bottombar ul li {
  text-align: center;
  font-size: 12px;
}
#bottombar ul li a i {
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}
#bottombar ul .active a {
  color: linear-gradient(90deg, #044660 0.18%, #1596b2 100.18%);
  font-weight: bolder;
}
#bottombar ul .active a i {
  background: linear-gradient(90deg, #044660 0.18%, #1596b2 100.18%);
  color: white;
}

#holder-bottombar div {
  height: 66px;
}
@media only screen and (min-width: 600px) {
  #holder-bottombar div {
    display: none;
  }
}

#banner img {
  width: 100%;
}

#detail-item-foto .card {
  border: none;
  background-color: transparent;
}
#detail-item-foto .card .card-header,
#detail-item-foto .card .card-body {
  padding: 0px;
  border-radius: 10px;
}
#detail-item-foto .card .card-header img,
#detail-item-foto .card .card-body img {
  border-radius: 10px;
}
#detail-item-info .item-title {
  font-weight: bolder;
  font-size: 36px;
}
#detail-item-info .item-price {
  font-weight: bolder;
  font-size: larger;
  color: red;
}
#detail-item-info hr {
  height: 2px;
  border-radius: 2px;
}
#detail-item-info .item-description {
  height: 255px;
  overflow: scroll;
  overflow-x: hidden;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
#detail-item-info .item-description::-webkit-scrollbar {
  width: 15px;
}
#detail-item-info .item-description::-webkit-scrollbar-track {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
#detail-item-info .item-description::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #044660 0.18%, #1596b2 100.18%);
  border-radius: 10px;
}
#detail-item-info .item-description::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #044660 0.18%, #1596b2 100.18%);
}
#detail-item-info .item-seller {
  font-weight: bolder;
}
#detail-item-info .item-seller > div > div {
  margin-bottom: 16px;
}
#detail-item-info .item-seller-nama {
  color: #1588a7;
  display: flex;
  align-items: center;
}
#detail-item-info .item-seller-nama img {
  height: 30px;
}
#detail-item-info .item-seller-nama b {
  color: black;
  margin: 0px 10px;
}
#detail-item-info .item-seller-lokasi {
  display: flex;
  align-items: center;
}
#detail-item-info .item-seller-lokasi i {
  color: red;
  margin-right: 10px;
}

input:focus {
  border-color: #ced4da !important;
  box-shadow: none !important;
  outline: 0 none !important;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: linear-gradient(90deg, #044660 0.18%, #1596b2 100.18%) !important;
  color: white;
}

.filter-head {
  font-weight: bolder;
  font-size: 24px;
  margin-bottom: 12px;
  display: flex;
}
.filter-head span {
  display: flex;
  flex-direction: row;
  font-size: 17px;
  font-weight: lighter;
}
.filter-head span div {
  background-color: #1588a7;
  color: white;
  padding: 4px 20px;
  border-radius: 20px;
  margin: 0px 4px;
}

#filter-item .accordion-button:not(.collapsed) {
  color: #1588a7;
}
#filter-item .accordion-body {
  padding: 0px;
}
#filter-item .accordion-body .form-group {
  margin: 10px 0px;
}

#footer {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
#footer .logo img {
  width: 100%;
}
#footer .footer-title {
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 40px;
}
#footer .contact-us {
  font-weight: bolder;
}
#footer .contact-us li {
  margin-bottom: 10px;
}
#footer .contact-us li a {
  color: #636363;
}
#footer .contact-us li a i {
  margin-right: 10px;
}
#footer .contact-us li a:hover {
  color: #1588a7;
}
#footer ul {
  list-style-type: none;
  padding: 0px;
}
#footer ul li img {
  width: auto;
  height: 20px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  #footer {
    padding: 40px 0px;
  }
}
@media only screen and (max-width: 600px) and (max-width: 600px) {
  #footer .logo {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  #footer .row {
    text-align: center;
  }
}
.owl-carousel .item {
  padding: 4px 0px;
}

#all-item .col-lg2,
#all-item .col-6,
#ice-box .col-lg2,
#ice-box .col-6 {
  margin-bottom: 24px;
}

.card-item {
  font-size: smaller;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}
.card-item .card-img {
  position: relative;
  overflow: hidden;
}
.card-item .card-img .card-status {
  position: absolute;
  top: 20px;
  left: -40px;
  color: white;
  font-weight: bolder;
  background: linear-gradient(90deg, #044660 0.18%, #1596b2 100.18%);
  padding: 5px 0px;
  width: 150px;
  text-align: center;
  transform: rotateY(0deg) rotate(-45deg);
}
.card-item .card-img .card-badges {
  position: absolute;
  bottom: 5px;
  right: 5px;
  display: flex;
}
.card-item .card-img .card-badges img {
  width: 24px;
}
.card-item .card-img img {
  width: 100%;
  border-radius: 6px 6px 0px 0px;
}
.card-item .card-body {
  padding: 12px 15px;
  overflow: visible;
  z-index: 1;
}
.card-item .card-body .card-logo {
  display: flex;
  justify-content: center;
  margin-top: -36px;
  text-align: center;
}
.card-item .card-body .card-logo img {
  text-align: center;
  background-color: white;
  padding: 8px;
  border-radius: 50%;
  height: 48px;
  width: 48px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-item .card-body .card-nama-toko {
  text-align: center;
  color: #1588a7;
  font-weight: bolder;
  font-size: larger;
  margin-top: 5px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-item .card-body .card-nama-toko img {
  margin-left: 5px;
  height: 18px;
  width: 18px;
}
.card-item .card-body .card-title {
  margin-bottom: 0px;
  font-weight: bolder;
  font-size: larger;
}
.card-item .card-body .card-price {
  margin: 5px 0px;
  color: red;
  font-weight: bolder;
}
.card-item .card-body .card-location {
  margin-bottom: 0px;
}
.card-item .card-body .card-location i {
  color: #ff0000;
  margin-right: 5px;
}

.banner .swiper {
  overflow: visible;
}
.banner .swiper .swiper-container {
  overflow: visible;
}

#wts-item a,
#wtb-item a,
#all-item a,
#card-item-ib a {
  text-decoration: none;
}
#wts-item .card-item,
#wtb-item .card-item,
#all-item .card-item,
#card-item-ib .card-item {
  padding: 0px;
}
#wts-item .card-item a,
#wtb-item .card-item a,
#all-item .card-item a,
#card-item-ib .card-item a {
  text-decoration: none;
}
#wts-item .card-img,
#wtb-item .card-img,
#all-item .card-img,
#card-item-ib .card-img {
  border-radius: 5px 5px 0px 0px;
}
#wts-item .card-img img,
#wtb-item .card-img img,
#all-item .card-img img,
#card-item-ib .card-img img {
  border-radius: 0px;
}
#wts-item .card-body,
#wtb-item .card-body,
#all-item .card-body,
#card-item-ib .card-body {
  padding: 15px;
}

.card-primary tbody tr td {
  text-align: center;
}

.swal2-container .swal2-actions {
  flex-direction: row-reverse;
}
.swal2-container .swal2-actions button {
  box-shadow: none !important;
}
.swal2-container .swal2-actions button:hover, .swal2-container .swal2-actions buttonfocus, .swal2-container .swal2-actions button:active {
  box-shadow: none !important;
}
.swal2-container .swal2-actions .swal2-confirm {
  background-color: var(--primary);
}
.swal2-container .swal2-actions .swal2-cancel {
  color: black;
  background-color: var(--gray);
}
.swal2-container .swal2-actions .swal2-deny {
  background-color: var(--gray);
}/*# sourceMappingURL=index.css.map */